*{
    margin: 0;
}
.container{
    margin-top: 3%;
    margin-left: 12%;
    margin-bottom: 0%;
    height: 100%;
    
}
.card{
    width:18rem;
    margin-right: 4rem;
    height:18rem;
    margin-bottom: 10%;
}
.card:hover{
    -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
    
}

iframe{
    width:100%; 
    height: 100%;
    margin-top: 0%;
    margin-bottom: 0%;
}


