table{
    margin-top: 100px;
    background-color: whitesmoke;
}
.table-condensed{
    width: 60%;
    margin-left: 20%;
    border: #000
    
}
h1{
    color: #78c270;
}
.btn-primary{
    width: 400px;
    margin-left: 85px;
}