*{
    margin: 0;
}
body{
    background-color: #16191C;
}
.container{
    margin-bottom: 0%;
    height: 100%;
}
.navbar-brand{
    margin-right: 30px;
    margin-left: 0px;
}
.nav-link{
    margin-left: 50px;
}
#cuerpo{
    margin-top: 120px;
    background-color: #16191C;
}
#cuerpo2{
    
    background-color: #16191C;
}
.container mt-4{
   padding-bottom: 300px;
}
.footer {
  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #454141;
  color: white;
  text-align: center;
}

.sticky-top{
  position: fixed;
  top: 0;
  width: 100%;
}
#logo{
    margin-left: 30px;
}
#subti{
    margin-top: 30px;
    color: #fff;
}
.card-deck{
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: 100px;
    width: auto;
}
.card-body{
    background-color: white;
    border: #6666ff;
    
    
}
.card-footer{
     text-decoration:none;
     color: whitesmoke;
     background-color: #38393b;
     font-weight: 400;
     font-family: "Poppins" , sans-serif;
     width: 100%;
     
}
.card-footer:hover {
  color: lightsteelblue;
}
a:hover{
     color: lightsteelblue;
}

