
.card {
    margin: 0 auto;
}
#cardP {
    margin: 0 auto;
    margin-top: 2%;
}
.card{
    margin: 0 auto;
}
.profile-area{
    padding: 50px 0;
}
.card{ 
    overflow: hidden;
    border-radius: 15px;
}
.img1 img{
    height: 200px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}
.card:hover .img2 img{
    border-color: darkcyan;
    transition: .7s;
}
.main-text{
    padding: 30px 0;
    text-align: center;
}
.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 20px;
    margin: 0 0 20px;
}
h2{
    
    text-transform: uppercase;
    font-weight: 900;
    font-size: 40px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.main-text p{
    font-size: 16px;
    padding: 0 35px ;   
}
.socials{
    text-align: center;
    padding-bottom: 20px;
}
.socials i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}
.accordion{
    margin: 0 auto; 
    margin-bottom: 60px;
}
.accordion-body p{
    text-align: justify;
}
